fastapi
uvicorn[standard]
python-multipart
groq
pageindex
reportlab
selenium
webdriver-manager
pdfplumber
python-docx
beautifulsoup4
requests
pillow
pytesseract
tqdm
qdrant-client
sentence-transformers
numpy
faiss-cpu
fitz
jina
